# Lists

## Adding and Removing Items From Lists

In [16]:
guests = ['John' , 'Doe' , 'Jane']
print(f'{guests[0]} is invited to dinner.')
print(f'{guests[1]} is invited to dinner.')
print(f'{guests[2]} is invited to dinner. \n')

print('A bigger table has been found.\n')

guests.insert(0 , 'Paul')
guests.insert(1 , 'Michael')
guests.append('Shafiq')

print(f'{guests[0]} is invited to dinner.')
print(f'{guests[1]} is invited to dinner.')
print(f'{guests[2]} is invited to dinner.')
print(f'{guests[3]} is invited to dinner.')
print(f'{guests[4]} is invited to dinner.')
print(f'{guests[5]} is invited to dinner.\n')

print("The dinner table won't arrive in time for dinner and only space for two guests is available.\n")

print(f'{guests.pop()} is not invited to dinner.')
print(f'{guests.pop()} is not invited to dinner.')
print(f'{guests.pop()} is not invited to dinner.')
print(f'{guests.pop()} is not invited to dinner.\n')

print(f'{len(guests)} people are still invited to dinner\n')

print(f'{guests[0]} is still invited to dinner')
print(f'{guests[1]} is still invited to dinner')
del guests[0]
del guests[0]
print(guests)

John is invited to dinner.
Doe is invited to dinner.
Jane is invited to dinner.

A bigger table has been found.

Paul is invited to dinner.
Michael is invited to dinner.
John is invited to dinner.
Doe is invited to dinner.
Jane is invited to dinner.
Shafiq is invited to dinner.

The dinner table won't arrive in time for dinner and only space for two guests is available.

Shafiq is not invited to dinner.
Jane is not invited to dinner.
Doe is not invited to dinner.
John is not invited to dinner.

2 people are still invited to dinner

Paul is still invited to dinner
Michael is still invited to dinner
[]

## Organizing Lists

In [29]:
places = ['New York' , 'Antartica' , 'Berlin' , 'Paris' , 'Hong Kong']
print(places)
print(sorted(places))
print(places)
print(sorted(places , reverse=True))
print(places)
places.reverse()
print(places)
places.reverse()
print(places)
places.sort()
print(places)
places.sort(reverse=True)
print(places)

['New York', 'Antartica', 'Berlin', 'Paris', 'Hong Kong']
['Antartica', 'Berlin', 'Hong Kong', 'New York', 'Paris']
['New York', 'Antartica', 'Berlin', 'Paris', 'Hong Kong']
['Paris', 'New York', 'Hong Kong', 'Berlin', 'Antartica']
['New York', 'Antartica', 'Berlin', 'Paris', 'Hong Kong']
['Hong Kong', 'Paris', 'Berlin', 'Antartica', 'New York']
['New York', 'Antartica', 'Berlin', 'Paris', 'Hong Kong']
['Antartica', 'Berlin', 'Hong Kong', 'New York', 'Paris']
['Paris', 'New York', 'Hong Kong', 'Berlin', 'Antartica']

## Looping through Lists

In [2]:
animals = ['Cat' ,  'Dog' , 'Rabbit']
for animal in animals:
    print(f'{animal} would make a great pet')
print('\nAll of the above animals would make great pets.')

Cat would make a great pet
Dog would make a great pet
Rabbit would make a great pet

All of the above animals would make great pets.

## Numerical Lists

In [4]:
for value in range(1 , 20 ,2):
    print(value)

1
3
5
7
9
11
13
15
17
19

In [5]:
for value in range(3,30 ,3):
    print(value)

3
6
9
12
15
18
21
24
27

In [6]:
cubes = [value**3 for value in range(1,11)]
for cube in cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000

## Slicing a List

In [10]:
animals = ['Cat' ,  'Dog' , 'Rabbit']
print('The first two elements in the list are:\n')

for animal in animals[:2]:
    print(animal)

print('\nThe last two elements in the list are:\n')

for animal in animals[-2:]:
    print(animal)

The first two elements in the list are:

Cat
Dog

The last two elements in the list are:

Dog
Rabbit

## Copying a List

In [12]:
animals = ['Cat' ,  'Dog' , 'Rabbit']
friend_animals = animals[:]
animals.append('Turtle')
friend_animals.append('Hamster')
print('My favourite animals are:')
for animal in animals:
    print(animal)

print("\nMy friend's favourite animals are:")
for animal in friend_animals:
    print(animal)

My favourite animals are:
Cat
Dog
Rabbit
Turtle

My friend's favourite animals are:
Cat
Dog
Rabbit
Hamster

## Tuples

In [14]:
resturant_foods = ('Burger' , 'Pizza' , 'Fries' , 'Cake' , 'Nuggets')
print('Our resturant offers the following foods:')
for food in resturant_foods:
    print(food)
food[0] = 'Ice Cream'

Our resturant offers the following foods:
Burger
Pizza
Fries
Cake
Nuggets

TypeError: 'str' object does not support item assignment